.title{
    text-align: center;
}

body{
    background-color: aqua;
    display: grid;
}

img{
    border: 3px solid tan;
    height: 200px;
    width: 200px;
    position: absolute;
}

.img1{
    top: 200px;
    left: 200px;
}

.img2{
    top: 230px;
    left: 230px;
}

.img3{
    top: 260px;
    left: 260px;
}

.img4{
    top: 290px;
    left: 290px;
}

.img5{
    top: 320px;
    left: 320px;
    z-index: -1;
}

@media (max-width:1680) and (min-width:1050){

}

@media (max-width:1024) and (min-width:768){

}

@media (max-width:480) and (min-width:320){

}
